<form method="post" action="{{ path('professor_delete', {'id': professor.id}) }}" onsubmit="return confirm('Estas segur que vols eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professor.id) }}">
    <button class="btn">Eliminar</button>
</form>
