{% extends 'base.html.twig' %}

{% block title %}Nova excursió{% endblock %}

{% block body %}


    <h2>Afegir nova excursió</h2>



    {{ form_start(form) }}




    {{ form_end(form) }}




{% endblock %}