<form method="post" action="{{ path('ruta_delete', {'id': rutum.id}) }}" onsubmit="return confirm('Estas segur que vols eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rutum.id) }}">
    <button class="btn">Eliminar</button>
</form>
