{% extends 'base.html.twig' %}

{% block title %}New Ruta{% endblock %}

{% block body %}
    <h1>Crear nou Ruta</h1>

    {{ include('ruta/_form.html.twig') }}

    <a href="{{ path('ruta_index') }}">Tornar a la llista</a>
{% endblock %}
