<form method="post" action="{{ path('ciutat_delete', {'id': ciutat.id}) }}" onsubmit="return confirm('Estas segur que vols eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ciutat.id) }}">
    <button class="btn">Eliminar</button>
</form>
