{% extends 'base.html.twig' %}

{% block title %}New Curs{% endblock %}

{% block body %}
    <h1>Crear nou Curs</h1>

    {{ include('curs/_form.html.twig') }}

    <a href="{{ path('curs_index') }}">Tornar a la llista</a>
{% endblock %}
