{% extends 'base.html.twig' %}

{% block title %}Edit Escola{% endblock %}

{% block body %}
    <h1>Edit Escola</h1>

    {{ include('escola/_form.html.twig', {'button_label': 'Modificar'}) }}

    <a href="{{ path('escola_index') }}">Tornar a la llista</a>

    {{ include('escola/_delete_form.html.twig') }}
{% endblock %}
